/* My Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

/* CSS Variables */
:root {
  /*
    PRIMARY
  */

  --very-dark-blue: hsl(233, 47%, 7%); /* (main background) */
  --dark-desaturated-blue: hsl(244, 38%, 16%); /* (Card background) */
  --soft-violet: hsl(277, 64%, 61%); /* (Accent) */
  --dark-violet: hsl(283, 82%, 22%); /* (Accent) */

  /*
    NEUTRAL
  */

  --white: hsl(0, 0%, 100%); /* (main heading, stats) */
  --main-slightly-transparent-white: hsla(0, 0%, 100%, 0.75); /* (main paragraph) */
  --stat-slightly-transparent-white: hsla(0, 0%, 100%, 0.6); /* (stat headings) */
  
  /*
    TYPOGRAPHY
  */

  --font-size: 15px;
  --font-lexend-deca: 'Lexend Deca', sans-serif;
}

/* Reset */
* {
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  color: var(--white);
  background-color: var(--very-dark-blue);
}

.container {
  width: 1440px;
  height: 100vh;
  margin: auto;
  padding: 20px;
}

.stat-parent {
  height: 100%;
  width: 100%;
}

.display-flex {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.stat-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1000px;
  height: auto;
  border-radius: 8px;
  background-color: var(--dark-desaturated-blue);
  overflow: hidden;
  position: relative;
}

.stat-card-image {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.stat-card-image .backdrop {
  position: absolute;
  opacity: 0.6;
  width: 50%;
  height: 100%;
  background-color: var(--dark-violet);
}

.stat-card-image img {
  width: 500px;
  height: 400px;
  object-fit: cover; 
}

.stat-card-body {
  width: 50%;
  max-width: 600px;
  height: 100%;
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.stat-card-body h1 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 28px
}

.stat-card-body p {
  max-width: 360px;
  font-size: var(--font-size);
  font-weight: 400;
  line-height: 24px;
  color: var(--main-slightly-transparent-white);
  margin-bottom: 54px;
}

.stat-card-body span {
  color: var(--soft-violet);
}

.stat-card-body .statistic-data {
  max-width: 320px;
  display: flex;
  justify-content: space-between;
}

.stat-card-body .statistic-data .data-number {
  font-size: 20px;
}

.stat-card-body .statistic-data .data-title {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  color: var(--stat-slightly-transparent-white);
  font-family: var(--font-lexend-deca);
}